Netvlad_vanila/data/Pittsburgh250k/000.tar
Netvlad_vanila/data/Pittsburgh250k/001.tar
Netvlad_vanila/data/Pittsburgh250k/002.tar
Netvlad_vanila/data/Pittsburgh250k/003.tar
Netvlad_vanila/data/Pittsburgh250k/004.tar
Netvlad_vanila/data/Pittsburgh250k/005.tar
Netvlad_vanila/data/Pittsburgh250k/006.tar
Netvlad_vanila/data/Pittsburgh250k/007.tar
Netvlad_vanila/data/Pittsburgh250k/008.tar
Netvlad_vanila/data/Pittsburgh250k/009.tar
Netvlad_vanila/data/Pittsburgh250k/010.tar
Netvlad_vanila/data/Pittsburgh250k/groundtruth.tar
Netvlad_vanila/data/Pittsburgh250k/md5sums.txt
Netvlad_vanila/data/Pittsburgh250k/netvlad_v100_datasets.tar.gz
Netvlad_vanila/data/Pittsburgh250k/pose.txt
Netvlad_vanila/data/Pittsburgh250k/queries_real.tar
Netvlad_vanila/data/Pittsburgh250k/readGt.m
Netvlad_vanila/data/